<section class="columns is-multiline">
  <% @products.each do |product| %>
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">
                <%= product.name %>
              </p>
              <p class="subtitle is-6">
                <%= number_to_currency(product.price) %>
              </p>
            </div>
          </div>

           <div class="content">
              <%= link_to("Add To Cart", "/product/#{product.id}") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
